*{
    margin: 0;
    border: 0;
    padding: 0;
}

/* INÍCIO DO HEADER */

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #f9f4ee;
    justify-content: flex-end;
    transition: .5s;
    color: #141c08;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 5px;
}

body.dark header{
    background-color: #151e08;
    color: #faf5ef;
}

/* FIM DO HEADER */

/* INÍCIO DO CONTEÚDO */

body{
    background-color: #faf5ef;
    transition: .5s;
    color: #151e08;
}

body.dark{
    background-color: #151e08;
    color: #faf5ef;
}

h1{
    text-align: center;
    font-size: 50px;
}

body.dark h1{
    color: #ffffff;
}

h2{
    text-align: center;
}

body.dark h2{
    color: #ffffff;
}

body.dark h5{
    color: #ffffff;
}

.text-body{
    color: #000000;
    text-align: justify;
    font-size: 16;
    padding-left: 12%;
    padding-right: 12%;
}

body.dark .text-body{
    color: #faf5ef;
}

/* INÍCIO DO "BOTÃO DO MODO ESCURO E CLARO */

.trilho{
    width: 42px;
    height: 18px;
    background-color: #151e08;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    width: 18px;
    height: 18px;
    background-color: #faf5ef;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark{
    background-color: #faf5ef;
}

.trilho.dark .indicador{
    left: 24px;
    background-color: #151e08;
}

/* FIM DO "BOTÃO DO MODO ESCURO E CLARO */

.img-grid-catalogo{
    border-radius: 20px;
    width: 90%;
    height: 30%;
    border-bottom: 2.5px solid #6e763f;
}

.img-grid-catalogo:hover{
    border-radius: 22px;
    width: 91%;
    height: 31%;
    opacity: 0.9;
    border-right: 5px solid #6e763f;
    border-bottom: 5px solid #6e763f;
    cursor: pointer;
}

@media (min-width: 280px) and (max-width: 450px){ /* Inserindo a responsividade nas imagens */
    .img-grid-catalogo{
        border-radius: 20px;
        width: 90%;
        height: 30%;
    }
}

figure{
    text-align: center;
}

figcaption{
    text-align: center;
    font-size: 14px;
}

.grid-catalogo-index{
    display: grid; /* Mostra como os conteúdos serão dispostos na página. */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* FR - Ver formatação da tela*/
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-catalogo-index div{
    text-align: center;
    padding: 2px;
}

#grid-catalogo{
    background-color: #faf5ef;
        transition: .5s;
}

body.dark #grid-catalogo{
    background-color: #151e08;
    color: #faf5ef;
}

/* FIM DO CONTEÚDO */

/* INÍCIO DO FOOTER */

footer{
    background-color:  #f4efe6;
    transition: .5s;
}

body.dark footer{
    background-color: #3f4b15;
    color: #faf5ef;
}

.grid-footer-index{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 1px;
    row-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-footer-index div{
    text-align: center;
    padding: 2px;
    text-align: left;
}

.text-footer{
    color: #000000;
    text-align: left;
    font-size: 12px;
    text-decoration: none;
}

.text-footer:hover{
    text-decoration:underline;
}

body.dark .text-footer{
    color: #faf5ef;
}

hr{
    background-color: #151e08;
    width: 20%;
    height: 2px;
    border-radius: 20px;
    transition: 1s;
}

body.dark hr{
    background-color: #faf5ef;
}

.grid-footer-inside:hover hr{
    width: 55%;
}

/* FIM DO FOOTER */